<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>SignServlet</servlet-name>
        <servlet-class>top.jsjkxyjs.controller.SignServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignServlet</servlet-name>
        <url-pattern>/SignServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>top.jsjkxyjs.controller.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CounselorServlet</servlet-name>
        <servlet-class>top.jsjkxyjs.controller.CounselorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CounselorServlet</servlet-name>
        <url-pattern>/CounselorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SuperManageServlet</servlet-name>
        <servlet-class>top.jsjkxyjs.controller.SuperManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuperManageServlet</servlet-name>
        <url-pattern>/SuperManageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersonalServlet</servlet-name>
        <servlet-class>top.jsjkxyjs.controller.PersonalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalServlet</servlet-name>
        <url-pattern>/PersonalServlet</url-pattern>
    </servlet-mapping>

</web-app>